
.navbar{
    background-color: var(--main-color);


}

.navbar .navbar-nav .nav-link{
    color:var(--white-color);
}


#myCarousel {
    margin-top: 50px;
}
.search-btn{
    width: 100%;
}

.search-form{
width: 50%;
}

.navbar-parent{
    width: 100%;
}

