.container{
    min-height: 100%;
overflow: hidden;
}
.flex-row {
    display: flex;
    justify-content: space-around; /* Adjust as needed: space-between, flex-start, flex-end, etc. */
    align-items: center; /* Adjust vertical alignment as needed */

}

/* Optional: Adjust box styles as necessary */


.card-body{
    background-color: #EAECEE;
}
.card-img-top{
margin: auto;
    width: 100px;
    height: 100px;
}
/* Styles for the swiper slide container */
/* Ensure proper alignment of the images */
.swiper-slide img {
width: 120px;
    height: auto; /* Maintain aspect ratio */
}

/* Adjust styles for the brand section */
.brand {
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center align the content */
    width: 100%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    background-color: var(--white-color);
    position: relative;
}

/* Styles for Swiper container and navigation */
.swiper-container-brands {
    width: 100%;
    height: 50px; /* Adjust the height as needed */
    margin: auto;
    overflow: hidden;
}

/* Styles for navigation arrows */
.swiper-button-prev,
.swiper-button-next,
.swiper-product-button-prev,
.swiper-product-button-next {
    width: 30px;
    height: 30px;
    background-color: #9DC3E6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
}


.swiper-button-prev {
    left: 10px;

}

.swiper-button-next {
    right: 10px;
}

/* Adjust styles for the product swiper navigation */

.swiper-product-button-prev {
    left: 10px; /* Adjust the distance from the left */
}

.swiper-product-button-next {
    right: 10px; /* Adjust the distance from the right */
}

.swiper-container-products {
    position: relative;
}
